:root {
  font-family: Arial, sans-serif;
  color: #f4f4f5;
  background: #1f1f24;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: scroll;
}

#root {
  min-height: 100vh;
}